html
    head
        meta(charset="UTF-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(name="x-apple-disable-message-reformatting")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(content="telephone=no" name="format-detection")
        title
        //if (mso 16)
            style(type="text/css").
            a {text-decoration: none;}
        //if gte mso 9
            style.
            sup { font-size: 100% !important; }
        // [if !mso] <!
        link(href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet")
        // <![endif]
        link(rel="stylesheet", href="style.css", data-inline)
    body
        h1 Hello #{name} Registartion Successful